<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div class="d-flex">
  <%= link_to "Show", @friend, class:"btn btn-secondary" %>
  <%= button_to "Delete", @friend, method: :delete, class: "btn btn-danger ml-2"%>
  <%= link_to "Back", friends_path, class:"btn btn-dark ml-2" %>
</div>
