<h1>OOPSSS!!!! <i class= "fa fa-meh-o"> </i> <i class= "fa fa-meh-o"> </i> <i class= "fa fa-meh-o"> </i> </h1>
<h3>Not Signed In?</h3>
<p>Sign yourself in to view friendlist</p>
<%= link_to "Sign In yourself", new_user_session_path, class: "btn btn-secondary"%>
